data/GoodReads_100k_books.csv filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
notebooks/total_df.csv filter=lfs diff=lfs merge=lfs -text
data/books_cleaned.csv filter=lfs diff=lfs merge=lfs -text
data/total_df.csv filter=lfs diff=lfs merge=lfs -text
